<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmergeRuntime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RobotStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmergeRuntime.Properties.Settings>
            <setting name="WinPosition" serializeAs="String">
                <value>100,100,1000,550</value>
            </setting>
            <setting name="Splitter1Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Splitter2Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Splitter3Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowMsgs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSensorData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemCtlWndPos" serializeAs="String">
                <value>100,100,400,700</value>
            </setting>
            <setting name="LastSpecFile" serializeAs="String">
                <value />
            </setting>
        </EmergeRuntime.Properties.Settings>
        <RobotStudio.Properties.Settings>
            <setting name="WinPosition" serializeAs="String">
                <value>100,100,1000,550</value>
            </setting>
            <setting name="Splitter1Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Splitter2Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Splitter3Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowMsgs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSensorData" serializeAs="String">
                <value>False</value>
            </setting>
        </RobotStudio.Properties.Settings>
    </userSettings>
</configuration>